.overflowHidden {
    overflow: hidden;
}

.modal {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.blur-bg {
    filter: blur(.2rem)
}

.modal-content {
    background-color: var(--white);
    color: #000;
    border-radius: 5px;
    padding: 3rem 4rem;
    margin: 2rem 7rem;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.modal-content h1 {
    color: #000;
    margin: 0;
    padding: 0;
    text-align: start;
}

.display-none {
    display:none;
}

.display-block {
    display:block;
}

.tech-stack {
    display: flex;
    flex-direction: column;
}

.tech-item {
    padding: .5rem 1rem;
    background-color: var(--blue);
    border-radius: 5px;
    color: var(--white)

}

.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.modal-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.buttons-wrapper-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.button.close {
    background-color: var(--white);
    color: #444;
    border: solid 1px #AAA49D;
}

#live {
    background-color: var(--orange);
}

#live:hover,
#live:active {
    color: var(--blue);
}

.button.close:hover,
.button.close:active {
    color: #000;
}

.modal-content h3 {
    padding: 0;
    margin: 1rem 0;
}

.details {
    padding: 1rem 0;
}

.details-text {
    white-space:pre-line;
}

/* Responsive Style */

@media screen and (max-width:650px) {
    .modal-content {
        margin: 1rem .8rem;
    }
}

@media screen and (max-width:500px) {
    .modal-links {
        justify-content: center;
    }
}