header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: var(--blue);
    color: var(--white);
    position: fixed;
    top: 0px;
    left: auto;
    right: auto;
    width: 90vw;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.logo span {
    font-weight: 700;
}

.item, 
.logo {
    cursor: pointer;
}

.item:hover {
    color: var(--orange);
}