header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: var(--blue);
    color: var(--white);
    position: fixed;
    top: 0px;
    left: auto;
    right: auto;
    width: 90vw;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.logo span {
    font-weight: 700;
}

.item, 
.logo {
    cursor: pointer;
}

.item:hover {
    color: var(--orange);
}

/* Responsive Style */

@media screen and (min-width:3200px) and (max-width:4200px){
    header {
        width: 98vw;
    }
}


@media screen and (min-width:2100px) and (max-width:3200px) {
    header {
        width: 96vw;
    }
}

@media screen and (min-width:1600px) and (max-width:2100px){
    header {
        width: 94vw;
    }
}

@media screen and (min-width:1250px) and (max-width: 1600px) {
    header {
        width: 92vw;
    }
}


@media screen and (max-width:482px) {
    header {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 377px) {
    header {
        padding: 2rem 2rem;
    }
}