.skills {
    background-color: var(--white);
    padding: 2rem;
}
.skills h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--orange)
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.card {
    background-color: var(--blue);
    padding: 1rem 2rem;
    color: var(--white);
    border-radius: 5px;
    font-size: 1.5rem;
    box-shadow: 0.5rem 1.5rem 2rem rgba(0,0,0,0.5);
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(.05,.75,.41,.66);
}

.card.visible,
#right.visible {
    transform: translateX(0);
    opacity: 1;
}

.card.right {
    transform: translateX(50%)
}

ul {
    list-style: none;
    padding: 0;
}

li {
    text-align: center;
    line-height: 2;
    font-weight: 400;
    font-size: 1.4rem;
    
}