.projects {
    background-color: var(--blue);
}

.projects h1 {
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
    color: var(--white)
}

.projects .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 5rem;
    padding-bottom: 5rem;
    position: relative;
}