.projects {
    background-color: var(--blue);
}

.projects h1 {
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
    color: var(--white)
}

.projects .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 5rem;
    padding-bottom: 5rem;
    position: relative;
}

/* Responsive Style */

@media  screen and (min-width: 1590px) {
    .projects .wrapper {
        gap: 6rem;
    }
}

@media  screen and (max-width: 600px) {
    .projects .wrapper {
        gap: 1rem;
    }
}

@media screen and  (max-width:482px) {
    .projects .wrapper {
        padding: 1rem 3rem
    }
}

@media screen and  (max-width:377px) {
    .projects .wrapper {
        padding: 1rem 2rem
    }
}