.hero {
    background-color: var(--blue);
    color:var(--white);
    padding: 5rem 5rem;
}

.hero span {
    color: var(--orange)
}

.hero h1 {
    font-size: 4rem;
}

.hero h2 {
    font-size: 2.5rem;
}
.hero h3 {
    font-size : 2rem;
    margin-top: 6rem;
}

.fade {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.7s;
    /* transition-timing-function:cubic-bezier(.85,.62,.46,1.42); */
    transition-timing-function: cubic-bezier(.21,.87,.36,1.28);
}

.fade.rightH3 {
    transform: translateX(50%);
    margin-top: 2rem;
}

.fade.visible {
    transform: translateX(0);
    opacity: 1;
}