.hero {
    background-color: var(--blue);
    color:var(--white);
    padding: 5rem 7rem;
}

.hero span {
    color: var(--orange)
}

.hero h1 {
    font-size: 4rem;
}

.hero h2 {
    margin-top: 5rem;
    font-size: 2.5rem;
}
.hero h3 {
    font-size : 2rem;
    margin-top: 6rem;
}

.fade {
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.7s 1s ease-out;
}

.fade.rightH3 {
    transform: translateY(50%);
    margin-top: 2rem;
    transition: all 0.7s 1.5s ease-out;
}

.fade.visible {
    transform: translateX(0);
    opacity: 1;
}


@media screen and (max-width: 800px) {
    .hero {
        padding: 5rem 4rem;
    }
    
}

@media screen and (max-width: 482px) {
    .hero {
        padding: 5rem 3rem;
    }
    .hero h1 {
        font-size: 4rem;
    }   

    .hero h2 {
        margin-top: 3rem;
        font-size: 2.5rem;
    }
    .hero h3 {
        font-size : 2rem;
        margin-top: 6rem;
    }
    
}

@media screen and (max-width: 418px) {
    
    .hero h1 {
        font-size: 3.5rem;
    }   

    .hero h2 {
        margin-top: 3rem;
        font-size: 2rem;
    }
    .hero h3 {
        font-size : 1.5rem;
        margin-top: 6rem;
    }
}

@media screen and (max-width: 377px) {
    .hero {
        padding: 5rem 2rem;
    }

    .hero h1 {
        font-size: 3rem;
    }  
}